@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&family=Montserrat:wght@100&family=Poiret+One&family=Yeseva+One&display=swap');


/* .App {
  width: 100vw;
  height: 100vh;
} */

body {
  margin: 0px;
  background-color: #0f0e0d;

}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}

.nav {
  background-color: #0f0e0d;
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed;
  z-index: 99;
}

.nav .leftside {
  flex: 20%;
  padding-left: 15px;
}

.nav .rightside {
  flex: 80%;
}

 .nav .rightside .links {
  display: flex;
  justify-content: space-around;
  color: whitesmoke;
  font-family: 'Montserrat';
  font-size: 1em;
  max-height: 80px;
  padding: 10px 10px;
}

.taste {
  font-family: 'Poiret One';
  font-size: 1.5em;
  color: whitesmoke;
}



.brulee {
width: 100%;
}


.container {
  position: absolute;
  top: 30%;

}

#animate {
  margin: 0;
  font-family: 'Yeseva One';
  font-size: 6em;
  text-align: center;
  color: white;
  text-shadow: 0 5px 10px rgba(0,0,0,1);
}

.ordernow {
  height: 80px;
  width: 150px;
  position: relative;
  background: orange;
  margin-top: 10px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: .2em;
}


.map-container {
  width: 600px;
  height: 400px;
}

/* :root {
  --animate-duration: 900ms;
  --animate-delay: 0.9s;
} */

.mapbox {
  margin: 50px;
}


.visitus {
  color: white;
  padding: 4px;
  }
  
.visit-title {
  font-family: 'Montserrat';
  font-size: 2em;
  height: 5vh;
  display: flex;
  justify-content: center;
}

.right-container {
  width: 40vw;
  font-family: 'Montserrat';
  font-size: 1.25em;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

.outerinfo {
  display: flex;
}

.outerinfo .right-container {
  flex: 50%;
  align-items: center;
}